{% macro profiles(person, title) %}

<style>
    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .background{
        height: 71vh;
        margin: 5%;
    } 
</style>
{% if person.type == 'committee'%}
<div class="container d-flex justify-content-end me-1">
    <a href="{{url_for('electoral_committee.logout')}}" class="btn btn-lg mt-3 btn-outline-danger" style="max-width: 155px;">Cerrar Sesión</a>
</div>
{% endif %}
<div class="background d-flex flex-column justify-content-center align-items-center">
    <div class="container my-4 p-4 m-4 bg-light w-100 shadow" style="max-width: 800px;">
        <div class = "row text-center mt-3">
            <h1 class="lead fs-3 text-uppercase fw-medium">{{ title }}</h1>
        </div>
        <div class="row align-items-center">
            <!-- Columna izquierda con la imagen y CI -->
            <article class="col-6 d-flex justify-content-center flex-column text-center h-100">
                <figure>
                    <img src="{{ person.photo }}" class="avatar" alt="image-elector">
                </figure>
                <div class="mt-1">
                    <p>
                        <span class="lead fs-4">CI:</span>
                        <span class="lead fs-4">{{ person.ci }}</span>      
                    </p>
                </div>
            </article>
            <!-- Columna derecha con la información de la persona -->
            <div class="col-6 d-flex justify-content-center h-100">
                <table class="table table-borderless table-light">
                    <tr>
                        <td class="lead fs-5">Nombre:</td>
                        <td class="lead fs-5">{{ person.name }}</td>
                    </tr>
                    <tr>
                        <td class="lead fs-5">Fecha:</td>
                        <td class="lead fs-5">{{ person.birthdate }}</td>
                    </tr>
                    {% if person.type == 'voter' %}
                    <tr>
                        <td class="lead fs-5">Estado:</td>
                        {% if person.is_enabled %}
                            <td class="text-success lead fs-5">Habilitado</td>
                        {% else %}
                            <td class="text-danger lead fs-5">Inhabilitado</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="lead fs-5">Genero:</td>
                        {% if person.gender == 'M'%}
                        <td class="lead fs-5">Masculino</td>
                        {% else %}
                        <td class="lead fs-5">Femenino</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        
        <!-- Fila para el botón de Emitir Voto -->
        </div>
    </div> 
    {% if person.type == 'voter' %}
        {% if person.is_enabled %} 
        <div class="row d-flex">
            <a href="{{url_for('send_vote.vote')}}" class="btn btn-lg btn-primary mt-3" style="max-width: 500px;">Emitir Voto</a>
        </div>
        {% else %} 
        <div class="row d-flex justify-content-center">
            <a href="{{url_for('home.voter_logout')}}" class="btn btn-lg btn-primary mt-3" style="max-width: 600px;">Cerrar Sesión</a>
        </div> 
        {% endif %}
    {% elif person.type == 'committee' %}  
    <div class="row d-flex justify-content-center">
        <a href="{{url_for('election_results.index')}}" class="btn btn-lg btn-primary mt-3" style="max-width: 500px;">Ver Resultados</a>
    </div>
    {% endif %}  
</div>

{% endmacro %}