{% extends "base.html"%}
{% block title %}Perfil-Elector{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row mt-3 align-items-center">
        <!-- Columna izquierda con la imagen y CI -->
        <div class="col-6 mt-3 align-items-center">
            <div class="mt-2 m-2">
                <img src="../static/images/image-profile.png" class="img-thumbnail rounded w-400 h-400" alt="image-elector">
            </div>
            <div class="mt-2 m-2">
                <p>CI: {{ voter.ci }}</p>
            </div>
        </div>
        <!-- Columna derecha con la información del votante -->
        <div class="col-6 mt-3">
            <p>Nombre: {{ voter.name }}</p>
            <p>Fecha de Nacimiento: {{ voter.datBir }}</p>
            <p class="text-success">Estado: Habilitado</p>
            <p>Genero: {{ voter.gender }}</p>
        </div>
    </div>
    <!-- Fila para el botón de Emitir Voto -->
    {% if voter.status == True %} 
    <div class="row justify-content-center">
        <form action="/send_vote/" method="POST"> 
            <button class="btn btn-lg btn-primary mt-3">Emitir Voto</button>
        </form>
    </div>
    {% else %} 
        <p>No puedes votar porque tu estado es: {{ voter.status }}</p> 
    {% endif %} 
    
</div>
{% endblock %}