{% extends "base.html" %}
{% block title %}Emitir voto{% endblock %}
{% block content %}
<h1 class="text-center">Lista de candidatos: Presidente</h1>
<div class="container mt-5 ">
    <form action="/subir_voto" method="post">
        <div class="row">
            {% for candidate in candidates %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card candidate-card" style="width: 17rem;" data-candidate="{{ candidate.representative.name }}">
                        <img class="card-img-top" src="{{ candidate.logo }}" alt="{{ candidate.name }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ "Frente electoral: " + candidate.name }}</h3>
                            <h6 class="card-text">{{ "Presidente: " + candidate.representative.name}}</h6>
                            <p class="card-text">{{candidate.description}}</p>
                            <div class="text-center">
                                <input id="{{candidate.representative.name}}" class="form-check-input-lg" type="radio" name="selected_candidate" value="{{candidate.name}}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row text-center" style="
            display: flex;
            justify-content: center;
        ">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card candidate-card" style="width: 10rem;" data-candidate="Nulo">
                    <img class="card-img-top" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/null-5185929-4448772.png" alt="Nulo">
                    <div class="card-body">
                        <h3 class="card-title">Nulo</h3>
                        <div class="text-center">
                            <input id="Nulo" class="form-check-input-lg" type="radio" name="selected_candidate" value="Nulo">
                        </div>
                    </div>
                </div>
            </div>   
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card candidate-card" style="width: 10rem;" data-candidate="Blanco">
                    <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" alt="Blanco">
                    <div class="card-body">
                        <h3 class="card-title">Blanco</h3>
                        <div class="text-center">
                            <input id="Blanco" class="form-check-input-lg" type="radio" name="selected_candidate" value="Blanco">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center ">
            <button id="btn-vote" type="button" class="text-center btn btn-primary m-3" >                
                Votar
            </button>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modal_alert" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mensaje</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="content-modal-body">
                        <!-- content in script -->
                    </div>
                    <div class="modal-footer" id="content-modal-footer">
                        <!-- content in script-->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="../static/js/send_vote_script.js"></script>
</div>
{% endblock %}
