{% extends "base.html" %}
{% block title %}Emitir voto{% endblock %}
{% block content %}
<style>
    .card-candidate:hover{
        cursor: pointer;
        transition: .4s;
        background-color: beige;
    }
    .selected {
        background-color: beige !important;
    }
</style>
<h1 class="text-center mt-4">Lista de candidatos: Presidente</h1>
<div class="container" style="display: flex;justify-content: space-around;">
    <form action="/subir_voto" method="post">
        <div class="mt-4" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px;">
            {% for candidate in candidates %}
                {% if candidate.acronym != '???'%}
                    <div class="card" data-candidate="{{ candidate.representative.name }}" onclick="selectCandidate(this)">
                        <img class="card-img-top" src="{{ candidate.logo }}" alt="{{ candidate.name }}" style="aspect-ratio: 1; object-fit: cover;">
                        <div class="card-body" style="display: flex; flex-direction: column;">
                            <h3 class="h4">{{candidate.representative.name}} </h3>
                            <p> {{candidate.name}} </p>

                            <div style="flex: 1;"></div>
                            <div class="alert alert-light" style="text-wrap: balance;">
                                {{candidate.description}}
                            </div>
                            <input class="form-check-input mt-2" id="{{ candidate.representative.name }}" type="radio" name="selected_candidate" value="{{ candidate.id }}" data-candidate-name="{{candidate.name}}" style="margin: 0 auto; display: block;">
                        </div>
                    </div>
                {% else %}
                <div class="card" data-candidate="Nulo" onclick="selectCandidate(this)">
                        <img class="card-img-top" src="{{candidate.logo}}" alt="{{candidate.name}}" style="aspect-ratio: 1; object-fit: cover;">
                        <div class="card-body">
                            <h3> {{candidate.name}} </h3>
                            <input class="form-check-input mt-2" id="{{candidate.name}}" type="radio" name="selected_candidate" value="{{candidate.id}}" data-candidate-name = "{{candidate.name}}" style="margin: 0 auto; display: block;">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="text-center d-grid gap-2">
            <button id="btn-vote" type="button" class="text-center btn btn-primary btn-lg m-3 " >
                Votar
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal_alert" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mensaje</h5>
                        <button id="btn-close-modal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="content-modal-body">
                        <!-- content in script -->
                    </div>
                    <div class="modal-footer" id="content-modal-footer">
                        <!-- content in script-->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="../static/js/send_vote_script.js"></script>
</div>
{% endblock %}
