{% extends "base.html" %}
{% block title %}Emitir voto{% endblock %}
{% block content %}
<style>
    .card-candidate:hover{
        cursor: pointer;
        transition: .4s;
        background-color: beige;
    }
    .selected {
        background-color: beige !important;
    }
</style>
<h1 class="text-center">Lista de candidatos: Presidente</h1>
<div class="container" style="display: flex;justify-content: space-around;">
    <form action="/subir_voto" method="post">
        <div class="col-md-3 p-3" style="display: flex;">
            {% for candidate in candidates %}
                {% if candidate.acronym != '???'%}
                    <div class="card-candidate shadow-lg p-3 mb-5 rounded" data-candidate="{{ candidate.representative.name }}" style="margin-right: 10px;" onclick="selectCandidate(this)">
                        <div class="text-center"> 
                            <img src="{{ candidate.logo }}" alt="{{ candidate.name }}" style="width: 200px; height: 200px; border-radius: 50%;">
                        </div>
                        <h3> {{candidate.name}} </h3>
                        <p> {{"Representante: " + candidate.representative.name}} </p>
                        
                        <p class="d-inline-flex gap-1">
                            <a class="link-primary link-underline-opacity-0" data-bs-toggle="collapse" href="#{{ candidate.acronym }}" role="button" aria-expanded="false" aria-controls="{{ candidate.acronym}}">Mostrar descripcion</a>
                        </p>
                        <div class="collapse" id="{{ candidate.acronym }}">
                            <div class="card card-body">
                                {{candidate.description}}
                            </div>
                        </div>
                        <input id="{{ candidate.representative.name }}" type="radio" name="selected_candidate" value="{{ candidate.id }}" data-candidate-name = "{{candidate.name}}" style="opacity: 0;">
                    </div>
                {% endif %}
            {% endfor %}

            <div class="card-candidate shadow-lg p-3 mb-5 rounded" data-candidate="Nulo" style="margin-right: 10px;" onclick="selectCandidate(this)">
                <div class="text-center"> 
                    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/null-5185929-4448772.png" alt="Nulo" style="width: 200px; height: 200px; border-radius: 50%;">
                    <h3> Nulo </h3>
                </div>
                <input id="Nulo" type="radio" name="selected_candidate" value="{{7}}" data-candidate-name = "Nulo" style="opacity: 0;">
            </div>

            <div class="card-candidate shadow-lg p-3 mb-5 rounded" data-candidate="Blanco" style="margin-right: 10px;" onclick="selectCandidate(this)">
                <div class="text-center"> 
                    <img src="https://i.stack.imgur.com/mwFzF.png" alt="Blanco" style="width: 200px; height: 200px; border-radius: 50%;">
                    <h3> Blanco </h3>
                </div>
                <input id="Blanco" type="radio" name="selected_candidate" data-candidate-name = "Blanco" value="{{8}}" style="opacity: 0;">
            </div>
        </div>

        <div class="text-center d-grid gap-2">
            <button id="btn-vote" type="button" class="text-center btn btn-primary btn-lg m-3 " >                
                Votar
            </button>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modal_alert" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mensaje</h5>
                        <button id="btn-close-modal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="content-modal-body">
                        <!-- content in script -->
                    </div>
                    <div class="modal-footer" id="content-modal-footer">
                        <!-- content in script-->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="../static/js/send_vote_script.js"></script>
</div>
{% endblock %}
