{% extends "base-auth.html"%}

{% block title%}Login User{% endblock %}

{% block content_auth %}
  <form class="mt-5 p-4 bg-light shadow w-100" style="max-width: 550px; margin: auto;" action="#" method="post">
    {{form.hidden_tag()}}

    <h1 class="h3 mb-3 font-weight-normal text-center">Inicio de Sesión - Electores</h1>
    <div class="mx-auto" style="max-width: 480px;">
      {{form.ci.label(class="form-label text-left")}}
      {{form.ci(class="form-control")}}
    </div>

    <div class="mx-auto" style="max-width: 480px;">
      {{form.birthdate.label(class="form-label text-left mt-2")}}
      {{form.birthdate(class="form-control")}}
    </div>

    <div class="d-grid mx-auto" style="max-width: 480px;">
      {{form.submit(class="btn btn-lg btn-primary mt-3")}}

    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

  </form>

  <script>
    const ciInput$ = document.getElementById('ci');

    // Only allow numbers
    ciInput$.addEventListener('input', (e) => {
      e.target.value = e.target.value.replace(/\D/g, '');
    });
  </script>
{% endblock %}
